* {
    margin: 0;
    box-sizing: border-box;
}


body {
    /* min-width: 300px; */
    max-width: 1500px;
    margin-inline: auto;
    /* background-color: rgb(41, 38, 38); */
}


.container {
    /* border: 1px solid black; */
    background-color: #fff;
    position: relative;
    height: 100px;
    margin-top: 3rem;
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)20%, rgba(0,0,0,1)80%, rgba(0,0,0,0));
}

.item {
    position: absolute;
    height: 100px;
    width: 200px;
    right: 100%;;
    margin-top: 10px;
    animation-name: scrollright;
    animation-duration: 32s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scrollright {
    to {
        right: -200px;
    }
}

.item-1 {
    animation-delay: calc(32s / 8 * (8 - 1) * -1);
}

.item-2 {
    animation-delay: calc(32s / 8 * (8 - 2) * -1);
}
.item-3 {
    animation-delay: calc(32s / 8 * (8 - 3) * -1);
}
.item-4 {
    animation-delay: calc(32s / 8 * (8 - 4) * -1);
}
.item-5 {
    animation-delay: calc(32s / 8 * (8 - 5) * -1);
}
.item-6 {
    animation-delay: calc(32s / 8 * (8 - 6) * -1);
}
.item-7 {
    animation-delay: calc(32s / 8 * (8 - 7) * -1);
}
.item-8 {
    animation-delay: calc(32s / 8 * (8 - 8) * -1);
}

/* wrapper */

.wrapper {
    /* border: 1px solid red; */
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1)20%,
        rgba(0,0,0,1)80%,
        rgba(0,0,0,0)
    );
}

.box  {
    min-width: 200px;
    height: 100px;
    background-color: rebeccapurple;
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);

    animation-name: scrollleft;
    animation-duration: 32s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: -20s;
}

@keyframes scrollleft {
    to{
        left: -200px;
    }
}

.box-1 {
    animation-delay: calc(32s / 8 * (8 - 1) * -1);
}
.box-2 {
    animation-delay: calc(32s / 8 * (8 - 2) * -1);
}
.box-3 {
    animation-delay: calc(32s / 8 * (8 - 3) * -1);
}
.box-4 {
    animation-delay: calc(32s / 8 * (8 - 4) * -1);
}
.box-5 {
    animation-delay: calc(32s / 8 * (8 - 5) * -1);
}
.box-6 {
    animation-delay: calc(32s / 8 * (8 - 6) * -1);
}
.box-7 {
    animation-delay: calc(32s / 8 * (8 - 7) * -1);
}
.box-8 {
    animation-delay: calc(32s / 8 * (8 - 8) * -1);
}